*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.desigualdade-social-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.desigualdade-social-desigualdade-social {
  width: 100%;
  height: 3166px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.desigualdade-social-group11 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 185px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.bloco01 {
  position: absolute;
  width: 100%;
  height: 116px;
  left: 0px;
  top: 0px;
  background: #22517b;
  border: 1px solid #22517b;
}

.bloco02 {
  position: absolute;
  width: 89px;
  height: 78px;
  left: 91px;
  top: 19px;
  background: #ffffff;
}

.bloco03 {
  position: absolute;
  width: 89px;
  height: 78px;
  left: 196px;
  top: 19px;
  background: #ffffff;
}

.bloco04 {
  position: absolute;
  width: 89px;
  height: 78px;
  left: 301px;
  top: 19px;
  background: #ffffff;
}

.k {
  position: absolute;
  width: 89px;
  height: 79px;
  left: 110px;
  top: 18px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 50px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #22517b;
}

.l {
  position: absolute;
  width: 89px;
  height: 79px;
  left: 220px;
  top: 19px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 50px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #22517b;
}

.d {
  position: absolute;
  width: 89px;
  height: 79px;
  left: 320px;
  top: 19px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 50px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #22517b;
}

.news {
  position: absolute;
  width: 204px;
  height: 40px;
  left: 406px;
  top: 54px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 50px;
  display: flex;
  align-items: center;
  color: #ffffff;
}

.bloco05 {
  position: absolute;
  width: 502px;
  height: 9px;
  left: 91px;
  top: 107px;
  background: #ffffff;
}
.machismo-indicarrea {
  top: 176px;
  left: 705px;
  width: 229px;
  height: 9px;
  position: absolute;
}
.cabecalho {
  position: absolute;
  width: 100%;
  height: 69px;
  left: 0px;
  top: 116px;
  background: #ffffff;
  border: 2.5px solid rgba(34, 81, 123, 0.78);
}

.machismo {
  position: absolute;
  width: 79px;
  height: 39px;
  left: 86px;
  top: 127px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 50px;
  display: flex;
  text-decoration: none;
  align-items: center;
  text-align: center;
  color: #010937;
}

.homofobia {
  position: absolute;
  width: 130px;
  height: 39px;
  left: 255px;
  top: 127px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 50px;
  display: flex;
  text-decoration: none;
  align-items: center;
  text-align: center;
  color: #010937;
}

.intolerancia {
  position: absolute;
  width: 264px;
  height: 39px;
  left: 425px;
  top: 127px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 50px;
  display: flex;
  text-decoration: none;
  align-items: center;
  text-align: center;
  color: #010937;
}

.desigualdade {
  position: absolute;
  width: 240px;
  height: 39px;
  left: 703px;
  top: 127px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 50px;
  display: flex;
  text-decoration: none;  
  align-items: center;
  text-align: center;
  color: #010937;
}
.desigualdade-social-text {
  top: 18px;
  left: 91px;
  color: rgba(34, 81, 123, 1);
  width: 89px;
  height: auto;
  position: absolute;
  font-size: 64px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 50px;
  font-stretch: normal;
  text-decoration: none;
}
.desigualdade-social-text01 {
  top: 19px;
  left: 196px;
  color: rgba(34, 81, 123, 1);
  width: 89px;
  height: auto;
  position: absolute;
  font-size: 64px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 50px;
  font-stretch: normal;
  text-decoration: none;
}
.desigualdade-social-text02 {
  top: 19px;
  left: 301px;
  color: rgba(34, 81, 123, 1);
  width: 89px;
  height: auto;
  position: absolute;
  font-size: 64px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 50px;
  font-stretch: normal;
  text-decoration: none;
}
.desigualdade-social-logo {
  top: 107px;
  left: 91px;
  width: 502px;
  height: 9px;
  position: absolute;
}
.desigualdade-social-text03 {
  top: 54px;
  left: 406px;
  color: rgba(255, 255, 255, 1);
  width: 204px;
  height: auto;
  position: absolute;
  font-size: 64px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 50px;
  font-stretch: normal;
  text-decoration: none;
}
.desigualdade-social-text05 {
  top: 121px;
  left: 91px;
  color: rgba(1, 9, 55, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 50px;
  font-stretch: normal;
  text-decoration: none;
}
.desigualdade-social-text07 {
  top: 127px;
  left: 443px;
  color: rgba(1, 9, 55, 1);
  width: 254px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 50px;
  font-stretch: normal;
  text-decoration: none;
}
.desigualdade-social-text09 {
  top: 127px;
  left: 747px;
  color: rgba(1, 9, 55, 1);
  width: 240px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 50px;
  font-stretch: normal;
  text-decoration: none;
}
.desigualdade-social-text11 {
  top: 127px;
  left: 263px;
  color: rgba(1, 9, 55, 1);
  width: 130px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 50px;
  font-stretch: normal;
  text-decoration: none;
}
.desigualdade-social-group2 {
  top: 240px;
  left: 91px;
  width: 736px;
  height: 433px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.desigualdade-social-text13 {
  color: rgba(1, 9, 55, 1);
  width: 736px;
  height: auto;
  position: absolute;
  font-size: 64px;
  font-style: Bold;
  text-align: left;
  font-family: Arya;
  font-weight: 700;
  line-height: 50px;
  font-stretch: normal;
  text-decoration: none;
}
.desigualdade-social-text15 {
  top: 100px;
  left: 5px;
  color: rgba(1, 9, 55, 1);
  width: 699px;
  height: auto;
  position: absolute;
  font-size: 27px;
  font-style: Bold;
  text-align: justified;
  font-family: Arya;
  font-weight: 700;
  line-height: 50px;
  font-stretch: normal;
  text-decoration: none;
}

.desigualdade-social-group6 {
  top: 859px;
  left: 636px;
  width: 737px;
  height: 591px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.desigualdade-social-text20 {
  color: rgba(1, 9, 55, 1);
  width: 737px;
  height: auto;
  position: absolute;
  font-size: 64px;
  font-style: Bold;
  text-align: left;
  font-family: Arya;
  font-weight: 700;
  line-height: 50px;
  font-stretch: normal;
  text-decoration: none;
}
.desigualdade-social-text22 {
  top: 209px;
  color: rgba(1, 9, 55, 1);
  width: 704px;
  height: auto;
  position: absolute;
  font-size: 27px;
  font-style: Bold;
  text-align: justified;
  font-family: Arya;
  font-weight: 700;
  line-height: 50px;
  font-stretch: normal;
  text-decoration: none;
}
.desigualdade-social-rectangle1 {
  top: 938px;
  left: 71px;
  width: 522px;
  height: 415px;
  position: absolute;
  border: 0;
  border-radius: 30px;
}
.desigualdade-social-rectangle7 {
  top: 261px;
  left: 857px;
  width: 453px;
  height: 360px;
  position: absolute;
  border-radius: 30px;
}
.desigualdade-social-text24 {
  top: 1474px;
  left: 71px;
  color: rgba(1, 9, 55, 1);
  width: 1308px;
  height: auto;
  position: absolute;
  font-size: 27px;
  font-style: Bold;
  text-align: justified;
  font-family: Arya;
  font-weight: 700;
  line-height: 50px;
  font-stretch: normal;
  text-decoration: none;
}
.desigualdade-social-text26 {
  top: 2078px;
  left: 69px;
  color: rgba(1, 9, 55, 1);
  width: 1314px;
  height: auto;
  position: absolute;
  font-size: 27px;
  font-style: Bold;
  text-align: justified;
  font-family: Arya;
  font-weight: 700;
  line-height: 50px;
  font-stretch: normal;
  text-decoration: none;
}
.desigualdade-social-rectangle26 {
  top: 2566px;
  left: 0px;
  width: 100%;
  height: 600px;
  position: absolute;
}
.desigualdade-social-rectangle27 {
  top: 3096px;
  left: 0px;
  width: 100%;
  height: 70px;
  position: absolute;
}
.desigualdade-social-text31 {
  top: 2591px;
  left: 75px;
  color: rgba(34, 81, 123, 1);
  width: 89px;
  height: auto;
  position: absolute;
  font-size: 64px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 50px;
  font-stretch: normal;
  text-decoration: none;
}
.desigualdade-social-text32 {
  top: 2592px;
  left: 180px;
  color: rgba(34, 81, 123, 1);
  width: 89px;
  height: auto;
  position: absolute;
  font-size: 64px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 50px;
  font-stretch: normal;
  text-decoration: none;
}
.desigualdade-social-text33 {
  top: 2592px;
  left: 285px;
  color: rgba(34, 81, 123, 1);
  width: 89px;
  height: auto;
  position: absolute;
  font-size: 64px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 50px;
  font-stretch: normal;
  text-decoration: none;
}
.desigualdade-social-text36 {
  top: 3105px;
  left: 619px;
  color: rgba(255, 255, 255, 0.6000000238418579);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: left;
  font-family: Nunito;
  font-weight: 500;
  line-height: 50px;
  font-stretch: normal;
  text-decoration: none;
}
.desigualdade-social-text38 {
  top: 2731px;
  left: 91px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 25.899999618530273px;
  font-style: SemiBold;
  text-align: justified;
  font-family: Poppins;
  font-weight: 600;
  line-height: 50px;
  font-stretch: normal;
  text-decoration: none;
}
.desigualdade-social-text40 {
  top: 2731px;
  left: 659px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 25.899999618530273px;
  font-style: SemiBold;
  text-align: justified;
  font-family: Poppins;
  font-weight: 600;
  line-height: 50px;
  font-stretch: normal;
  text-decoration: none;
}
.desigualdade-social-text42 {
  top: 2731px;
  left: 1150px;
  color: rgba(255, 255, 255, 1);
  width: 262px;
  height: auto;
  position: absolute;
  font-size: 25.899999618530273px;
  font-style: SemiBold;
  text-align: justified;
  font-family: Poppins;
  font-weight: 600;
  line-height: 50px;
  font-stretch: normal;
  text-decoration: none;
}
.desigualdade-social-text44 {
  top: 2782px;
  left: 659px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 26px;
  font-style: ExtraLight;
  text-align: justified;
  font-family: Poppins;
  font-weight: 200;
  line-height: 50px;
  font-stretch: normal;
  text-decoration: none;
}
.desigualdade-social-rectangle18 {
  top: 1732px;
  left: 0px;
  width: 100%;
  height: 288px;
  position: absolute;
}
.desigualdade-social-frame4 {
  top: 1762px;
  left: 0px;
  width: 100%;
  height: 228px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.desigualdade-social-rectangle6 {
  top: 0px;
  left: 904px;
  width: 330px;
  height: 228px;
  position: absolute;
  border-color: rgba(34, 81, 123, 0.5);
  border-style: solid;
  border-width: 1.5px;
  border-radius: 36px;
}
.desigualdade-social-rectangle61 {
  top: 0px;
  left: 191px;
  width: 330px;
  height: 228px;
  position: absolute;
  border-color: rgba(34, 80, 123, 0.5);
  border-style: solid;
  border-width: 1.5px;
  border-radius: 36px;
}
.desigualdade-social-rectangle5 {
  top: 0px;
  left: 1616px;
  width: 318px;
  height: 228px;
  position: absolute;
  border-color: rgba(34, 81, 123, 0.5);
  border-style: solid;
  border-width: 1.5px;
  border-radius: 36px;
}
.desigualdade-social-rectangle4 {
  top: 0px;
  left: 1260px;
  width: 330px;
  height: 228px;
  position: absolute;
  border-color: rgba(34, 81, 123, 0.5);
  border-style: solid;
  border-width: 1.5px;
  border-radius: 36px;
}
.desigualdade-social-rectangle3 {
  top: 0px;
  left: 547px;
  width: 331px;
  height: 228px;
  position: absolute;
  border-color: rgba(34, 80, 123, 0.5);
  border-style: solid;
  border-width: 1.5px;
  border-radius: 36px;
}
.desigualdade-social-machismo2 {
  top: 0px;
  left: -165px;
  width: 330px;
  height: 228px;
  position: absolute;
  border-color: rgba(34, 81, 123, 0.5);
  border-style: solid;
  border-width: 1.5px;
  border-radius: 36px;
}
.desigualdade-social-image1 {
  top: 0px;
  left: 1960px;
  width: 330px;
  height: 228px;
  position: absolute;
  border-color: rgba(34, 81, 123, 0.5);
  border-style: solid;
  border-width: 1.5px;
  border-radius: 36px;
}
.desigualdade-social-text53 {
  top: 2796px;
  left: 91px;
  color: rgba(255, 255, 255, 1);
  width: 391px;
  height: auto;
  position: absolute;
  font-size: 26px;
  font-style: ExtraLight;
  text-align: justified;
  font-family: Poppins;
  font-weight: 200;
  line-height: 50px;
  font-stretch: normal;
  text-decoration: none;
}
.desigualdade-social-text60 {
  top: 1349px;
  left: 62px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 8px;
  font-style: Bold;
  text-align: center;
  font-family: Arya;
  font-weight: 700;
  line-height: 50px;
  font-stretch: normal;
  text-decoration: underline;
}
.desigualdade-social-text62 {
  top: 626px;
  left: 913px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 8px;
  font-style: Bold;
  text-align: center;
  font-family: Arya;
  font-weight: 700;
  line-height: 50px;
  font-stretch: normal;
  text-decoration: underline;
}
.bloco02_1 {
  position: absolute;
  width: 89px;
  height: 78px;
  left: 91px;
  top: 2600px;
  background: #ffffff;
}

.bloco03_1 {
  position: absolute;
  width: 89px;
  height: 78px;
  left: 196px;
  top: 2600px;
  background: #ffffff;
}

.bloco04_1 {
  position: absolute;
  width: 89px;
  height: 78px;
  left: 301px;
  top: 2600px;
  background: #ffffff;
}

.k1 {
  position: absolute;
  width: 89px;
  height: 79px;
  left: 110px;
  top: 2600px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 50px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #22517b;
}

.l1 {
  position: absolute;
  width: 89px;
  height: 79px;
  left: 220px;
  top: 2600px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 50px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #22517b;
}

.d1 {
  position: absolute;
  width: 89px;
  height: 79px;
  left: 320px;
  top: 2600px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 50px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #22517b;
}

.news1 {
  position: absolute;
  width: 204px;
  height: 40px;
  left: 406px;
  top: 2634px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 50px;
  display: flex;
  align-items: center;
  color: #ffffff;
}

.bloco05_1 {
  position: absolute;
  width: 502px;
  height: 9px;
  left: 91px;
  top: 2690px;
  background: #ffffff;
}
.redes-sociais{
  position: absolute;
  top: 2783px;
  left: 1150px;
}
.tik-tok{
  width: 46px;
}
.instagram{
  width: 46px;
}
.twitter{
  width: 46px;
}